RewriteEngine On

# Se não for arquivo nem diretório, redireciona para index.php com a URL como parâmetro
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]